* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
}

/* header style */
.nav-menu-text {
  margin-left: 50%;
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.logo {
  color: #393939;
  font-size: 1.3vw;
  font-weight: bold;
  font-family: 'Gloock', serif;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 5vw;
  }
}

/* bannar section style */
.bannar-section {
  width: 100%;
  height: 60vh;
  background: linear-gradient(to right bottom,
      rgba(232, 125, 251, 0.9),
      rgba(201, 40, 210, 0.876));
  position: relative;
}

.row-class {
  width: 100%;
  height: 100%;
}

.main-content {
  text-align: start;
  width: 100%;
  height: 100%;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Abril Fatface', cursive;
}

.pages-main {
  text-align: start;
  width: 100%;
  height: 100%;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Abril Fatface', cursive;
}

.center-text-content {
  color: #fff;
  width: 60%;
}

.image-div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_content_line {
  width: 90%;
  height: 0.3vh;
  background-color: rgba(255, 255, 255, 0.601);
  margin-top: 5%;
}

.center-text-content button {
  font-size: 1.5vw;
  padding: 1% 10%;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right bottom,
      rgba(251, 167, 255, 0.9),
      rgba(174, 190, 255, 0.506));
  font-weight: 700;
}

/* section 2 style */
.section-2 {
  width: 100%;
  min-height: 90vh;
  height: auto;
  padding: 2%;
}

@media only screen and (max-width: 600px) {
  .section-2 {
    padding: 10%;
  }
}

.course-card{
  margin-top: 15%;
  width: 100%;
  height: auto;
  border: 0.5px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

.icon-div {
  width: 100%;
  height: auto;
  background-color: #393939;
}
.course-card a{
  color: #242424;
  text-decoration: none;
}

.course-desc{
  width: 100%;
    padding: 5%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.course-card button{
  margin: 5% 0%;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  font-family: 'Abril Fatface', cursive;
  border-radius: 5px;
  padding: 2% 10%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* footer style */

.main-footer{
  background-color: rgb(45, 45, 45);
  width: 100%;
  height: 10vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}